.main {
  display: grid;
  grid-template-columns: 45% 55%;
  grid-template-rows: 1fr 1fr;
  font-family: 'Roboto', sans-serif;
  color: #fff; 
}

.info {
  grid-row: 1/3;
  background: linear-gradient(
        rgba(30, 146, 175, 0.75) 100%,
        rgba(30, 146, 175, 0.75) 100%
      ),
      url(../../../img/services.png) no-repeat;
    padding: 4.3%;
}

.section {
    padding: 4.3%;
}

.starting {
  background: linear-gradient(
      rgba(255, 244, 210, 0.91) 100%,
      rgba(255, 244, 210, 0.91) 100%
    ),
    url(../../../img/3.png);
}
.dummy {
    background: linear-gradient(
        rgba(22, 38, 51, 0.75) 100%,
        rgba(22, 38, 51, 0.75) 100%
      ),
      url(../../../img/4.png) no-repeat;
  }
